<!-- Info Section -->
<section id="info" class="p-5 mb-5 text-light">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="assets/img/info-img.svg" class="img-fluid">
            </div>
            <div class="col-md p-5">
                <h2 class="mb-3 text-center">Informacije</h2>

                <div class="pt-4 mx-3">
                    <dl class="row">
                        <dt class="col-lg-3">Email:</dt>
                        <dd class="col-lg-9">dadoexpres@gmail.com</dd>

                        <dt class="col-lg-3">Telefon:</dt>
                        <dd class="col-lg-9">043 410 112</dd>
                    </dl>
                </div>

                <div class="pt-4 mx-3">
                    <p class="lead">
                        Radno Vrijeme
                    </p>
                    <dl class="row">
                        <dt class="col-lg-3">Ponedjeljak</dt>
                        <dd class="col-lg-9">08:00 - 17:00</dd>

                        <dt class="col-lg-3">Utorak</dt>
                        <dd class="col-lg-9">08:00 - 17:00</dd>

                        <dt class="col-lg-3">Srijeda</dt>
                        <dd class="col-lg-9">08:00 - 17:00</dd>

                        <dt class="col-lg-3">Četvrtak</dt>
                        <dd class="col-lg-9">08:00 - 17:00</dd>

                        <dt class="col-lg-3">Petak</dt>
                        <dd class="col-lg-9">08:00 - 17:00</dd>

                        <dt class="col-lg-3">Subota</dt>
                        <dd class="col-lg-9">09:00 - 13:00</dd>

                        <dt class="col-lg-3">Nedjelja</dt>
                        <dd class="col-lg-9">Zatvoreno</dd>
                    </dl>
                    
                    <p><small><em>* pauza 1h za vrijeme ručka.</em></small></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Info end  -->