
.product-img {
    width: 100%;
}

@media screen and (max-width: 991px) {
    #categoryMenu {
        display: none;
    }

    .product-img {
        width: 60%;
    }
}

@media screen and (max-width: 767px) {
    .product-img {
        width: 100%;
    }
}