<!-- The sidebar -->
<app-product-category-menu></app-product-category-menu>

<!-- Page content -->
<div class="content">
    <div class="row my-2 card-group row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="card m-2 py-3 card-bg">
            <a routerLink="/products/{{ product.id }}" class="text-center">
                <img src="/assets/img/logo.png" class="card-img-center" style="width: 150px; align-self: center;" alt="img">
            </a>
            <div class="card-body">
                <div class="card-title text-center">
                    {{product.id}} {{ product.name }} <br>
                    {{ product.unitPrice | currency:'USD' }} 
                </div>
                <hr>
                <div class="card-text">
                    <p>{{ product.description }}</p>
                </div>
                <a routerLink="/products" class="btn btn-primary text-light mt-3">Povratak na listu proizvoda</a>
            </div>
        </div>
    </div>
</div>