<nav class="navbar navbar-expand-md navbar-dark bg-dark py-3 fixed-top" id="giftshop-navbar">
    <div class="container">
        <a routerLink="/home" class="navbar-brand fw-bold">
            <img src="assets/img/logo.svg" alt="logo" width="25" height="25">
            <span class="text-secondary">&nbsp; GiftShop </span>
            <span class="text-primary">Bjelovar</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Naslovnica</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/products" routerLinkActive="active">Proizvodi</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Kontakt</a>
                </li>

                <app-login-status></app-login-status>
            </ul>
        </div>
    </div>
</nav>