<a (click)="close()" class="footer-link" id="openModal">Opći uvjeti poslovanja</a>
<div id="myModal" class="my-modal" [class.block]="isVisited==true" (click)="close()">
    <div class="modal-content bg-dark text-light">
        <a class="close">&times;</a>
        <h2>OPĆI UVJETI POSLOVANJA</h2>
        <p>
            Molimo pažljivo pročitajte ove uvjete i odredbe prije korištenja naše usluge. Stranica služi za reklamiranje proizvoda i ne podržava online kupovinu.
        </p>
        <h3 class="mt-4">Acknowledgment</h3>
        <p>
            These are the Terms and Conditions governing the use of this Service and the agreement that operates between You and the Company. These Terms and Conditions set out the rights and obligations of all users regarding the use of the Service.
        </p>
        <p>
            Your access to and use of the Service is conditioned on Your acceptance of and compliance with these Terms and Conditions. These Terms and Conditions apply to all visitors, users and others who access or use the Service.
        </p>
        <p>
            By accessing or using the Service You agree to be bound by these Terms and Conditions. If You disagree with any part of these Terms and Conditions then You may not access the Service.
        </p>
        <p>
            You represent that you are over the age of 18. The Company does not permit those under 18 to use the Service.
        </p>
        <h4 class="mt-3">Disputes Resolution</h4>
        <p>
            If You have any concern or dispute about the Service, You agree to first try to resolve the dispute informally by contacting the Company.
        </p>
        <h4 class="mt-3">Links to Other Websites</h4>
        <p>
            Our Service may contain links to third-party web sites or services that are not owned or controlled by the Company.
        </p>
        <p>
            The Company has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that the Company shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such web sites or services.
        </p>
        <p>
            We strongly advise You to read the terms and conditions and privacy policies of any third-party web sites or services that You visit.
        </p>
        <h4 class="mt-3">Governing Law</h4>
        <p>
            The laws of the Country, excluding its conflicts of law rules, shall govern this Terms and Your use of the Service. Your use of the Application may also be subject to other local, state, national, or international laws.
        </p>
        <h4 class="mt-3">Severability</h4>
        <p>
            If any provision of these Terms is held to be unenforceable or invalid, such provision will be changed and interpreted to accomplish the objectives of such provision to the greatest extent possible under applicable law and the remaining provisions will continue in full force and effect.
        </p>
        <h4>Changes to These Terms and Conditions</h4>
        <p>
            We reserve the right, at Our sole discretion, to modify or replace these Terms at any time. What constitutes a material change will be determined at Our sole discretion. By continuing to access or use Our Service after those revisions become effective, You agree to be bound by the revised terms. If You do not agree to the new terms, in whole or in part, please stop using the website and the Service.
        </p>
        <h3 class="mt-3">COOKIES</h3>
        <p>
            Kako bi web stranica radila pravilno te kako bismo bili u stanju provoditi daljnja unaprjeđenja stranice, u svrhu poboljšavanja vašega iskustva pregledavanja, ova stranica mora na vaše računalo spremiti malenu količinu informacija (Cookies).
        </p>
        <p>
            Korištenjem web stranice pristajete na uporabu Cookiea. Blokiranjem cookie i dalje možete pregledavati stranicu, no neke njezine mogućnosti Vam neće biti dostupne.
        </p>
        <h5 class="mt-3">ŠTO JE KOLAČIĆ?</h5>
        <p>
            Kolačić je informacija spremljena na Vaše računalo od strane web stranice koju posjetite. Kolačići obično spremaju Vaše postavke, postavke za web stranicu, kao što su preferirani jezik. Kasnije, kada opet otvorite istu web stranicu internet preglednik šalje natrag kolačiće koji pripadaju toj stranici. Ovo omogućava stranici da prikaže informacije prilagođene Vašim potrebama.
        </p>
        <p>
            Kolačići mogu spremati širok pojas informacija uključujući osobne informacije (kao što je Vaše ime ili e-mail adresa). Ipak, ova informacija može biti spremljena jedino ako Vi to omogućite – web stranice ne mogu dobiti pristup informacijama koji im Vi niste dali i ne mogu pristupiti drugim datotekama na Vašem računalu. Zadane aktivnosti spremanja i slanja kolačića Vama nisu vidljive. Ipak, možete promjeniti Vaše postavke internet preglednika da možete sami birati hoćete li zahtjeve za spremanje kolačića odobriti ili odbiti, pobrišete spremljene kolačiće automatski pri zatvaranju internet preglednika i slično.
        </p>
        <h5 class="mt-3">KAKO ONEMOGUĆITI KOLAČIĆE?</h5>
        <p>
            Isključivanjem kolačića odlučujete da li hoćete dopustiti pohranjivanje kolačića na vašem računalu. Cookie postavke mogu se kontrolirati i konfigurirati u vašem web pregledniku. Ako onemogućite kolačiće, nećete moći koristiti neke od funkcionalnosti na web stranicama.
        </p>
        <p>
            Detaljnije informacije potražite na: <br>
            <a href="http://www.allaboutcookies.org/" target="_blank">http://www.allaboutcookies.org/</a><br>
            <a href="http://www.youronlinechoices.eu/" target="_blank">http://www.youronlinechoices.eu/</a>
            
        </p>
        <h4 class="mt-3">Contact Us</h4>
        <p>If you have any questions about these Terms and Conditions, You can contact us: <br>
            By email <strong>giftshopbjelovar@gmail.com</strong>
        </p>
    </div>
</div>