<!-- Hero Section -->
<section class="py-5 pb-lg-0 bg-dark">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Dado-express <span class="text-primary">GiftShop</span></h1>
                <p class="lead my-4">
                    Suveniri, noževi, upaljači, sublimacija na keramičke šalice, elektronske cigarete, satovi i razni
                    pokloni!
                </p>
                <button routerLink="/products" class="btn btn-primary btn-lg mt-lg-4">
                    Pretraži sve proizvode
                </button>
            </div>
            <img class="img-fluid w-50 d-none d-md-block" src="assets/img/hero-img.svg">
        </div>
    </div>
</section>
<!-- Hero Section end -->

<!-- Search -->
<section class="bg-primary p-4">
    <div class="container">
        <div class="d-lg-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-lg-0 white">Pronađi proizvode</h3>

            <form class="input-group search-input">
                <input type="text" class="form-control" placeholder="Search products">
                <button class="btn btn-dark" type="button">Traži</button>
            </form>
        </div>
    </div>
</section>
<!-- Search end -->

<section class="py-5 mt-3">
    <div class="container">
        <h2>Novo u ponudi</h2>
        <div class="row my-3 card-group row-cols-2 row-cols-lg-4 g-3">
            <div class="col"  *ngFor="let product of products">
                <div class="card text-center card-bg py-3">
                    <a routerLink="/products/{{ product.id }}">
                        <img src="{{ product.imageUrl }}" class="card-img-center" style="width: 80%; align-self: center; padding-top:20px" alt="img">
                    </a>
                    <div class="card-body">
                        <div class="card-title">
                            <a routerLink="/products/{{ product.id }}" class="link-light">{{ product.name }}</a>
                        </div>
                        <div class="card-text text-light">
                            {{ product.price }} kn
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 mb-5">
    <div class="container">
        <h2>Sublimacija šalica po želji</h2>
        <div class="row">
            
        </div>
    </div>
</section>