<!-- Hero Section -->
<section class="bg-dark text-light p-5 mt-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Dado-express <span class="text-primary">GiftShop</span></h1>
                <p class="lead my-4">
                    Suveniri, noževi, upaljači, sublimacija na keramičke šalice, elektronske cigarete, satovi, razni
                    pokloni i još puno više!
                </p>
                <button routerLink="/products" class="btn btn-primary btn-lg text-light">
                    Pretraži sve proizvode
                </button>
            </div>
            <img class="img-fluid w-50 d-none d-md-block" src="assets/img/hero-img.svg">
        </div>
    </div>
</section>
<!-- Hero Section end -->

<!-- Search -->
<section class="bg-primary text-light p-5">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">Pronađi proizvode</h3>

            <form class="input-group search-input">
                <input type="text" class="form-control" placeholder="Search products">
                <button class="btn btn-lg btn-dark" type="button">Traži</button>
            </form>
        </div>
    </div>
</section>
<!-- Search end -->

<!-- Info Section -->
<section id="info" class="p-5 mb-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="assets/img/info-img.svg" class="img-fluid">
            </div>
            <div class="col-md p-5">
                <h2 class="mb-3 text-center">Informacije</h2>

                <div class="pt-4 mx-3">
                    <dl class="row">
                        <dt class="col-lg-3">Email:</dt>
                        <dd class="col-lg-9">dadoexpres@gmail.com</dd>

                        <dt class="col-lg-3">Telefon:</dt>
                        <dd class="col-lg-9">043 410 112</dd>
                    </dl>
                </div>

                <div class="pt-4 mx-3">
                    <p class="lead">
                        Radno Vrijeme
                    </p>
                    <dl class="row">
                        <dt class="col-lg-3">Ponedjeljak</dt>
                        <dd class="col-lg-9">08:00 - 17:00</dd>

                        <dt class="col-lg-3">Utorak</dt>
                        <dd class="col-lg-9">08:00 - 17:00</dd>

                        <dt class="col-lg-3">Srijeda</dt>
                        <dd class="col-lg-9">08:00 - 17:00</dd>

                        <dt class="col-lg-3">Četvrtak</dt>
                        <dd class="col-lg-9">08:00 - 17:00</dd>

                        <dt class="col-lg-3">Petak</dt>
                        <dd class="col-lg-9">08:00 - 17:00</dd>

                        <dt class="col-lg-3">Subota</dt>
                        <dd class="col-lg-9">09:00 - 13:00</dd>

                        <dt class="col-lg-3">Nedjelja</dt>
                        <dd class="col-lg-9">Zatvoreno</dd>
                    </dl>
                    
                    <p><small><em>* pauza 1h za vrijeme ručka.</em></small></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Info end  -->

<!-- Delivery Section -->
<section id="delivery" class="p-5 bg-dark text-light">
    <div class="container py-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2>Dostava</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A veniam laudantium sapiente in rerum
                    accusantium alias ab nesciunt doloremque quaerat, magni ratione unde ullam quas maxime ea explicabo
                    voluptas reprehenderit!
                </p>
            </div>
            <div class="col-md">
                <img class="img-fluid d-none d-md-block" src="assets/img/delivery.svg">
            </div>
        </div>
    </div>
</section>
<!-- Delivery end -->

<!-- Location Section -->
<section id="location" class="p-5 bg-light">
    <div class="container p-5">
        <div class="row justify-content-between">
            <div class="map col-md col-lg-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3301.8061549774247!2d16.838929348387037!3d45.90177303551591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476637f0b7ed6371%3A0xa88bc1528a6912ec!2sDado%20Expres-%20Gift%20Shop!5e0!3m2!1shr!2shr!4v1632137577452!5m2!1shr!2shr" 
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </div>
            <div class="col-md col-lg-4 p-5">
                <h2>Lokacija</h2>
                <p>Ul. Augusta Šenoe 25 <br>43000 <br>Bjelovar</p>
            </div>
        </div>
    </div>
</section>
<!-- Location end -->

<!-- About Section -->
<section id="about" class="p-5 bg-dark text-light">
    <div class="container">
        <div class="row align-items-center justify-content-between text-center">
            <div class="col-md p-5">
                <h2>O nama</h2>
                <p class="lead">
                    “DadoExpres” - Obrt za trgovinu gdje poslujemo od 01.02.1992.
                </p>
                <p>
                    Naš cilj je zadovoljan kupac, koji nam se uvijek rado vraća! <br>
                    Želimo ponuditi kvalitetne proizvode po pristupačnim cijenama, biti inovativni i nuditi uvijek
                    nešto novo za vas.
                </p>
            </div>
            <div class="col-md">
                <img class="img-fluid d-none d-md-block w-75 mx-lg-5" src="assets/img/about-img.svg">
            </div>
        </div>
    </div>
</section>
<!-- About end  -->
