<!-- Hero Section -->
<section class="py-5 pb-lg-0 bg-dark">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Dado-express <span class="text-primary">GiftShop</span></h1>
                <p class="lead my-4">
                    Suveniri, noževi, upaljači, sublimacija na keramičke šalice, elektronske cigarete, satovi i razni
                    pokloni!
                </p>
                <button routerLink="/products" class="btn btn-primary btn-lg mt-lg-4">
                    Pretraži sve proizvode
                </button>
            </div>
            <img class="img-fluid w-50 d-none d-md-block" src="assets/img/hero-img.svg">
        </div>
    </div>
</section>
<!-- Hero Section end -->

<!-- Search -->
<section class="bg-primary p-4">
    <div class="container">
        <div class="d-lg-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-lg-0 white">Pronađi proizvode</h3>

            <form class="input-group search-input">
                <input  #searchInput 
                        (keyup.enter)="doSearch(searchInput)" 
                        class="form-control" placeholder="Search products">
                <button (click)="doSearch(searchInput.value)" 
                        class="btn btn-dark">Traži</button>
            </form>
        </div>
    </div>
</section>
<!-- Search end -->

<section class="py-5 mt-3">
    <div class="container px-5 px-sm-0">
        <h2>Novo u ponudi</h2>
        <div class="row my-3 card-group row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col"  *ngFor="let product of products">
                <div class="card text-center card-bg py-3" style="height: 100%;">
                    <a routerLink="/products/{{ product.id }}">
                        <img src="{{ product.imageUrl }}" class="card-img-center img-hover" style="width: 80%; align-self: center; padding-top:20px" alt="{{ product.name }}">
                    </a>
                    <div class="card-body">
                        <div class="card-title">
                            <a routerLink="/products/{{ product.id }}" class="light-link">{{ product.name }}</a>
                        </div>
                        <div class="card-text text-light">
                            {{ product.price | number : '.2-2' }} kn
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- sekcija slidshow kategorija?? -->
<section class="py-3 mb-5">
    <div class="container p-4">
        <h2>Sublimacija šalica po želji</h2>
        <div class="row card-group pt-3">  
            <div class="col-12 col-lg-6 col-xl-5 pt-lg-0">
                <p>
                    Osim raznovrsne ponude šalica, nudimo Vam i opciju izrade personalizirane šalice - odabir slike i teksta po želji!
                    Više informacija u trgovini po dogovoru.
                </p>
                <button routerLink="/category/11" class="btn btn-primary mt-2 mb-4">
                    Prikaži sve šalice
                </button>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 px-4 px-sm-0">
                <a routerLink="/category/11">
                    <img src="assets/img/salice1.jpg" class="px-2 img-hover" style="width: 100%;" alt="šalice">
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 px-4 px-sm-0 pt-3 pt-sm-0">
                <a routerLink="/category/11">
                    <img src="assets/img/salice2.jpg" class="px-2 img-hover" style="width: 100%;" alt="šalice">
                </a>
            </div>
            
        </div>
    </div>
</section>