#search {
    position: relative;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 10px;
    width: 100%;
    z-index: 10;
}

#productMenu {
    position: fixed;
    top: 20px;
    left: 90px;
    bottom: 20px;
    width: 400px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #2b343b;
}

#productMenu ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 30px;
    padding-top: 5em;
}

#productMenu ul label {
    margin-bottom: 10px;
}

#productMenu ul li {
    position: relative;
    list-style: none;
    width: 100%;
    // border-left: 7px solid #4d5bf9;
    padding-left: 10px;
    line-height: 35px;
}

#productMenu ul li .active {
    text-decoration: underline;
}

#productMenu ul li a {
    position: relative;
    width: 100%;
    color: #fff;
    text-decoration: none;
}

#productMenu ul li a:hover {
    color: #808adf;
}