<!-- The sidebar -->
<app-product-category-menu></app-product-category-menu>

<!-- Page content -->
<div class="content">
    <div class="row my-2 card-group row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col"  *ngFor="let product of products">
            <div class="card m-2 py-3 text-center card-bg">
                <img src="/assets/img/logo.png" class="card-img-center" style="width: 150px; align-self: center;" alt="img">
                <div class="card-body">
                    <div class="card-title">
                        {{product.id}} {{ product.name }}
                    </div>
                    <div class="card-text">
                        {{ product.unitPrice | currency:'USD' }}
                    </div>
                    <a href="#" class="btn btn-primary text-light mt-3">Link</a>
                </div>
            </div>
        </div>

        <!-- if there is no product -->
        <div *ngIf="products?.length == 0" class="w-100">
            <div class="row ">
                <div class="col-12 col-lg-6">
                    <div class="alert alert-warning" role="alert">             
                        Nema pronađenih proizvoda.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
