<div class="row">
    <h2>Dodaj kategoriju</h2>
    <form [formGroup]="categoryForm" (submit)="onSubmit()" class="col-12 col-lg-8 col-xl-6">
        <fieldset class="form-group">
            <label for="category-name">Naziv kategorije: </label>
            <input class="form-control mt-1" type="text" formControlName="name" placeholder="Category name">
        </fieldset>

        <input type="submit" value="Spremi" class="btn btn-success white my-3" [disabled]="!categoryForm.valid">
        
        <div class="text-success" *ngIf="message">
            {{ message }}
        </div>
    </form>
</div>