<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark py-3 fixed-top" id="giftshop-navbar">
    <div class="container">
        <a href="#" class="navbar-brand fw-bold">
            GiftShop <span class="text-light">Bjelovar</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item px-2">
                    <a href="#info" class="nav-link">Info</a>
                </li>
                <li class="nav-item px-2">
                    <a href="#delivery" class="nav-link">Dostava</a>
                </li>
                <li class="nav-item px-2">
                    <a href="#location" class="nav-link">Lokacija</a>
                </li>
                <li class="nav-item px-2">
                    <a href="#about" class="nav-link">O nama</a>
                </li>
                <li class="nav-item px-2">
                    <button class="btn btn-primary">Proizvodi</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar end -->

<!-- Hero Section -->
<section class="bg-dark text-light p-5 mt-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Dado-express <span class="text-primary">GiftShop</span></h1>
                <p class="lead my-4">
                    Suveniri, noževi, upaljači, sublimacija na keramičke šalice, elektronske cigarete, satovi, razni
                    pokloni i još puno više!
                </p>
                <button class="btn btn-primary btn-lg">
                    Pretraži sve proizvode
                </button>
            </div>
            <img class="img-fluid w-50 d-none d-md-block" src="assets/img/hero-img.svg">
        </div>
    </div>
</section>
<!-- Hero Section end -->

<!-- Search -->
<section class="bg-primary text-light p-5">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">Pronađi proizvode</h3>

            <div class="input-group search-input">
                <input type="text" class="form-control" placeholder="Search products">
                <button class="btn btn-lg btn-dark" type="button">Traži</button>
            </div>
        </div>
    </div>
</section>
<!-- Search end -->






