<!-- Navbar
<nav class="navbar navbar-expand-md bg-dark navbar-dark py-3 fixed-top" id="giftshop-navbar">
    <div class="container">
        <a href="home" class="navbar-brand fw-bold">
            GiftShop <span class="text-light">Bjelovar</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item px-2">
                    <a href="home#info" class="nav-link">Info</a>
                </li>
                <li class="nav-item px-2">
                    <a href="home#delivery" class="nav-link">Dostava</a>
                </li>
                <li class="nav-item px-2">
                    <a href="home#location" class="nav-link">Lokacija</a>
                </li>
                <li class="nav-item px-2">
                    <a href="home#about" class="nav-link">O nama</a>
                </li>
                <li class="nav-item px-2">
                    <button routerLink="products" class="btn btn-primary text-light">Proizvodi</button>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<!-- Navbar end -->

<!-- Sidebar -->
<app-sidebar></app-sidebar>

<!-- Main content -->
<section class="main">
    <router-outlet></router-outlet>
</section>


<!-- Footer -->
<!-- <footer class="p-5 bg-dark-2 text-white text-center position-relative">
    <div class="container">
        <p>Copyright &copy; 2021 DadoExpres</p>
    </div>
</footer> -->
<!-- Footer end -->