<!-- Delivery Section -->
<section id="delivery" class="p-5 bg-dark text-light">
    <div class="container py-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2>Dostava</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A veniam laudantium sapiente in rerum
                    accusantium alias ab nesciunt doloremque quaerat, magni ratione unde ullam quas maxime ea explicabo
                    voluptas reprehenderit!
                </p>
            </div>
            <div class="col-md">
                <img class="img-fluid d-none d-md-block" src="assets/img/delivery.svg">
            </div>
        </div>
    </div>
</section>
<!-- Delivery end -->