<nav class="sidebar">
    <ul>
        <li class="list" routerLinkActive="active">
            <a class="main-item feat-btn" routerLink="/home">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
                <span class="title">Početna</span>
            </a>
        </li>
        <li class="list" routerLinkActive="active">
            <a class="main-item feat-btn" routerLink="/products">
                <span class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </span>
                <span class="title">Proizvodi</span>
            </a>
        </li>
        <li class="list" routerLinkActive="active">
            <a class="main-item feat-btn" routerLink="/contact">
                <span class="icon">
                    <i class="fas fa-users"></i>
                </span>
                <span class="title">Kontakt</span>

            </a>
        </li>
        <li class="list" routerLinkActive="active">
            <a class="main-item feat-btn" routerLink="/delivery">
                <span class="icon">
                    <i class="fas fa-truck"></i>
                </span>
                <span class="title">Dostava</span>
            </a>
        </li>
        <li class="list" routerLinkActive="active">
            <a class="main-item feat-btn" routerLink="/location">
                <span class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                </span>
                <span class="title">Lokacija</span>
            </a>
        </li>
    </ul>
</nav>