/* ------------------------ SCSS ------------------------ */

/* custom colors */
$dark-blue: #203647;
$darker-blue: #12232E;
$light: #EEFBFB;
$lighter-blue: #007CC7;
$lightest-blue: #4DA8DA;

/* theme colors */
$theme-colors: (
    "primary": #4d5bf9,
    "secondary": $lightest-blue,
    "dark": $darker-blue,
    "light": $light
);

.bg-dark-2 {
    background-color: #203647;
}

/* navbar */
$navbar-dark-color: $light;
$navbar-dark-hover-color: $lightest-blue;
$navbar-dark-active-color: $lightest-blue;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap');


/* ------------------------ CSS ------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', serif;
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #0a0a15;
}

::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-track {
    background-color: #1b1b30;
}

::-webkit-scrollbar-thumb {
    background: #4d5bf9;
}

::-moz-selection { /* Code for Firefox */
    color: #0a0a15;
    background: #4d5bf9;
}

::selection {
color: #0a0a15;
background: #4d5bf9;
}

/* map */
.map{
    overflow:hidden;
    padding-bottom: 50vh;
    position: relative;
    height: 0;
}

.map iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


/* products */
.content {
    margin-left: 390px;
    padding: 20px 0px;
    height: auto;
    min-height: 100vh;
    background-color: #0a0a15;//#1F1926;
}

/*
dark bg     #0a0a15
purple      #4d5bf9
secundary   #1b1b30
blue        #0e0240
text        #808adf
*/

#search {
    max-width: 450px;
    padding-left: 5px;
}

#card-section {
    margin: 0;
    padding: 30px;
    background-color: #0a0a15;
    min-height: 95vh;
    //border-top-right-radius: 10px;
    //border-bottom-right-radius: 10px;
    //border-left: 5px solid #808adf;
}

#card-section img {
    transition: transform .2s;
}

#card-section img:hover {
    transform: scale(1.05);
}

.card-bg {
    background-color: #1b1b30;
    border-color: #1b1b30;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .content {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 700px) {
    .content {
        margin: 0;
        padding: 10px 40px;
    }
}

#product-details {
    margin-left: 30px;
    padding: 30px;
    border-radius: 10px;
    min-height: 95vh;
    background-color: #1b1b30;
    color: #fff;
}