/* ------------------------ SCSS ------------------------ */
/* main colors */
$color-primary: #4d5bf9; 
$color-secondary: #808adf;
$color-dark-primary: #0a0a15;
$color-dark-secondary: #1b1b30;
$color-light: #D5D9F6;

/* theme colors */
$theme-colors: (
    "primary": $color-primary,
    "secondary": $color-secondary,
    "dark": $color-dark-secondary,
    "light": $color-light,
    "success":  #50c84c
);

/* navbar */
$navbar-dark-color: $color-secondary;
$navbar-dark-hover-color: $color-light;
$navbar-dark-active-color: $color-light;

/* table */
$table-color: $color-dark-secondary;
$table-bg: $color-dark-secondary;
$table-accent-bg: $color-dark-secondary;
$table-hover-bg: $color-dark-primary !important;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap');


/* ------------------------ CSS ------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Kanit', serif;
    line-height: 1.75;
    background-color: $color-dark-primary;
    color: $color-light;
}
p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 0rem 0 1.38rem;
  font-family: 'Kanit', sans-serif;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

main.main {
    padding-top: 70px;
}

a {
    color: $color-primary;
}

a:hover {
    color: $color-secondary;
}

.light-link {
    color: $color-light;
}
.light-link:hover {
    color: $color-primary;
}

footer {
    z-index: 10;
    position: relative;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 1em;
}

.footer-link {
    color: $color-light;
    text-decoration: none;
}

.footer-link:hover {
    color: $color-primary;
    text-decoration: underline;
}


.white {
    color: #fff !important;
}

::-webkit-scrollbar {
    width: 0.4em;
}
::-webkit-scrollbar-track {
    background-color: $color-dark-secondary;
}
::-webkit-scrollbar-thumb {
    background: $color-primary;
}
::-moz-selection { /* Code for Firefox */
    color: $color-dark-primary;
    background: $color-primary;
}
::selection {
    color: $color-dark-primary;
    background: $color-primary;
}

/* map */
.map{
    overflow:hidden;
    padding-bottom: 50vh;
    position: relative;
    height: 0;
}
.map iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* products */
.content {
    margin-left: 300px;
    padding: 30px 0px;
    height: auto;
    min-height: 100vh;
    background-color: $color-dark-primary;
}

#search {
    width: 100%;
    //max-width: 500px;
}

#pagination ngb-pagination a {
    border-color: $color-primary !important;
    background-color: $color-dark-secondary !important;
    color: #fff !important;
}

#pagination ngb-pagination .page-item.active .page-link {
    border-color: $color-primary !important;
    background-color: $color-primary !important;
    color: #fff !important;
}

#pagination ngb-pagination .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem $color-secondary;
}

#pagination ngb-pagination .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem $color-secondary;
}

//#card-section {
    //background-color: #0a0a15;
    //min-height: 95vh;
    //border-top-right-radius: 10px;
    //border-bottom-right-radius: 10px;
    //border-left: 5px solid #808adf;
//}

.img-hover {
    transition: transform .2s;
}

.img-hover:hover {
    transform: scale(1.05);
}

.card-bg {
    background-color: #1b1b30;
    border-color: #1b1b30;
    color: #fff;
}

@media screen and (min-width: 1400px) {
    .content {
         padding: 30px 4rem;
    }
}

@media screen and (max-width: 850px) { //767px
    .content {
        margin: 0;
        padding: 20px 40px;
    }
}

#product-details {
    padding: 30px 0;
    border-radius: 10px;
    min-height: 95vh;
    color: #fff;
}

.admin-table a {
    color: $color-light;
    text-decoration: none;
}

.admin-table a:hover {
    color: $color-primary;
    text-decoration: underline;
}

#admin {
    min-height: 70vh;
}

.delete-link {
    text-decoration:none;
    color: hsl(0, 80%, 55%) !important;
}

.delete-link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: hsl(0, 80%, 55%) !important;
}